<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- JDBC Driver -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <!-- Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- URL -->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate?useSSL=false&amp;allowPublicKeyRetrieval</property>
        <!-- Username -->
        <property name="hibernate.connection.username">root</property>
        <!-- Password -->
        <property name="hibernate.connection.password">Akash1234!</property>
        <!-- Automatically create or update tables -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- Show SQL in the console -->
        <property name="hibernate.show_sql">true</property>
        <!-- Entity Mapping -->
        <mapping class="lk.jiat.webii.hp.entity.Student"/>
        <mapping class="lk.jiat.webii.hp.entity.Address"/>
        <mapping class="lk.jiat.webii.hp.entity.City"/>
        <mapping class="lk.jiat.webii.hp.entity.Course"/>

    </session-factory>
</hibernate-configuration>
